@charset "utf-8";
/* CSS Document */

#mainWrapper {
	width: 85%;
	margin-left:7.5%;
	margin-right: 7.5%;
}
.bg{
	background-image: url(../../img/146038-best-gundam-iron-blooded-orphans-wallpaper-1920x1080-for-lockscreen.jpg);
	z-index: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	background-size: coverc
		h;
	background-position: center center;

}
.scroll-wrapper{
    overflow-x: scroll;
}
.scroll-wrapper::-webkit-scrollbar { 
    display: none; 
}
#button-to-top{
	font-size: 30px;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	border: none;
	outline: none;
	color: white;
	cursor: pointer;
	padding-top: 7px;
	border-radius: 10px;
	position: fixed;
	height: 50px;
	width: 50px;
	background-color: darkorange;
	display: none;
	transition: width 2s, height 2s, transform 2s;
	padding-bottom: 20px;
}
#button-to-top:hover {
  background-color: #555;
	color: lightgray;
	transform: rotate(360deg);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a:hover {
	color: rgba(255,255,255,1.00);
}

.animate-top-logo{position:relative;animation:animatetop 2s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.animate-bottom{position:relative;animation:animatebottom 0.8s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.animate-bottom-offer{position:relative;animation:animatebottom 1.6s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.animate-bottom-content{position:relative;animation:animatebottom 2.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.animate-bottom-footer{position:relative;animation:animatebottom 2s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.animate-top{position:relative;animation:animatetop 0.8s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.animate-zoom {animation:animatezoom 2s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.animate-left{position:relative;animation:animateleft 0.8s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.animate-right{position:relative;animation:animateright 0.8s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.animate-fading{animation:fading 9s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.animate-opacity{animation:opac 3s}@keyframes opac{from{opacity:0} to{opacity:1}}
.animate-opacity-nav{animation:opac 1s}@keyframes opac{from{opacity:0} to{opacity:1}}
.spin{animation:w3-spin 2s infinite linear}@keyframes w3-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}

.center{
	text-align: center;
}
.onright{
	float: right;
}
.margin-center{
	margin: auto;
}




.image {
	transition: 2s ease;
 	backface-visibility: hidden;
	opacity: 1;
}

.middle {
/*	transition: .5s ease;*/
 	opacity: 0;
/* 	position: absolute;*/
/*
 	top: 50%;
 	left: 50%;
*/

/*
 	transform: translate(-50%, -50%);
 	-ms-transform: translate(-50%, -50%);
*/
	position:relative;
	bottom: 350px;
	left: 44%; 
	transition: width 2s, height 2s, transform 2s;
	border: none;
	font-size: 14px;
	height: 20px;
	width: 25px;

}
.content-product:hover .image{
	opacity: 0.3;
	cursor: pointer;
}
.content-product:hover .middle{
	opacity: 0.8;
	transform: scale(2,2);
	cursor: pointer;
	background-color:dimgray;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),2px 6px 20px 1px rgba(0, 0, 0, 0.19);
}
	canvas {
    padding:0;
    margin:0;
    opacity:0.25;
}
.aa {
	z-index: -1;
    position: absolute;
    left: 0px;
    top: 0px;
	height: auto;
/*	display: none;*/
}

.bodya {
	height: auto;
    padding:0;
    margin:0;
	overflow:visible;
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	display: none;	
}

div.btnbg {
    position:fixed;
    left:0;
    top:0;

}

.star {
	position: relative;
	bottom: 40px;
	color: #807407;
}
.box-shadow{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),2px 6px 20px 1px rgba(0, 0, 0, 0.19);
}